
/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  
}

/* mouse over link */
a:hover {
  font-family: monospace;
  text-decoration: underline;
  
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
} 

ul {
list-style-type: none;

}

.main-banner {
padding: 1px;
}

.container{
	
max-width: 940px;
margin: 0 auto;
height: 100%;
}

body {
	margin: 0 auto; 
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: black;
	font-family: 'Lucida Grande', sans-serif;
}
.first-header {
text-align: center;
font-size: 24px;
color:#000000;
list-style: none;
}

.banner-txt {
text-align: center;

font-size: 24px;
color:#000000;
list-style: none;
   
    
}

.nav {
padding:10px;
list-style-type: none;
text-align: center;

}

.nav li{
display: inline-block;
font-size:20px;
padding-left:10px;
padding-right:10px;
}

h1 {
  font-size: 36px;
  padding: 1px;
  color: #000000;
 
}

h2 {
  font-size: 24px;
  padding: 1px;
  
}

h3 {
  font-size: 20px;
  padding: 15px;
  
  
}

h5 {
font-size: 14px;
  padding: 8px;
  
}
p {
  font-size: 15px;
  padding: 5px;
  color: #000000;	
  margin-left: 20px;
  font-weight: 50;
  line-height: 2.7;
  letter-spacing: 0.8px;
}
  

.intro1 {
background-color: #f2f2f2 ; /* grey 1 */

}

.intro2 {
background-color: #f2f2f2 ; /* grey1 */

}

.project-container {
  left: 0;
  background-color: #ff8533; /* orange	 1 */
  float: left;
  width: 45%;
 
  }
  
.blog-container {
  right: 0;
  background-color: #ff8533 ; /* orange 1 */
  float: right;
  width: 45%;
}

.blog2-container {
  right: 0;
  background-color: #ff8533 ; /* orange 1 */
  float: right;
  width: 45%;
}

.project-header {
  left: 0;
  background-color: #f2f2f2; /* grey 1 */
  float: left;
  width: 45%;
  }

.blog-header {
  right: 0;
  background-color:#f2f2f2  ; /*grey 1 */
  float: right;
  width: 45%;
}


.projects {
text-align: center; 
background-color:#f2f2f2
}

.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open {
float: left;
padding: 0px
}

